In [1]:
age=[18,56,32,23,54,12,19]

In [2]:
import numpy as np
np.mean(age)

30.571428571428573

In [3]:
import seaborn as sns

df=sns.load_dataset('tips')

In [4]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [5]:
#median
np.median(age)

23.0

In [6]:
age1=[18,56,32,23,54,12,19,1000]

In [7]:
np.mean(age1)

151.75

In [8]:
np.median(age1)

27.5

In [10]:
from scipy import stats

In [11]:
stats.mode(age1)

/tmp/ipykernel_110/109619275.py:1: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  stats.mode(age1)

ModeResult(mode=array([12]), count=array([1]))

In [ ]:
np.mde